---
layout: page
title: "About Rone"
description: " "
header-img: "img/post-bg-swift2.jpg"
---

<div class="zh post-container">

    <p>遇到问题时，一头扎进答案里并不少很好的选择。</p>
    <p>势必要花上一些心思，分析与解刨，查找与印证，总结得出结论。</p>
    <p>答案因问题而生，也因问题所限制，一个答案不适用多个问题，但思维方式适用于寻找多个问题的答案。</p>
    <p>我喜欢读书，特别是历史，喜欢从历史中找出一些经验。之后就会不断的问自己：</p>
    <p>在清朝，在战乱年代，在建国初期，在文革…… 我会遇到什么样的困局，又怎么摆脱困局。</p>
    <p>最后得出一个看起来不太合理的答案：不惧所有，拥有从头再来的意志，学识和能力。</p>
    <p>历史告诉我，每隔一段时间，个人和社会就会遭遇重大的变革，能够摧毁自己所有的变革。</p>
    <p>历史也告诉我，社会不会因为这些变革而停下它的脚步。渐渐的，危机意识就这样被培养了出来。</p>
    <p>谢谢你光临我的博客，我是曹世荣，也是Rone，目前在上海从事U3D开发。</p>
    <p>一个爱读书，爱思考，喜欢运动，有强迫症的精神小伙。</p>
    <p>刷的最多的电影《本杰明巴顿奇事》</p>
    <p>关注最多的名人是温铁军</p>
    <p>最让我心潮澎拜的是凯迪拉克</p>
    <p>希望我的文字能给你带来一些帮助和思考！</p>
    <p></p>
    
    <!--h5>Talks</h5-->
    <!--ul>
    <li><a href="https://raw.githubusercontent.com/RoneBlog/RoneBlog.github.io/master/img/about-qq.jpg">QQ交流</a></li>
    <li><a href="https://raw.githubusercontent.com/RoneBlog/RoneBlog.github.io/master/img/about-wechat.jpg">微信交流</a></li>
    <li><a href="https://github.com/RoneBlog?tab=repositories">My GitHub</a></li>
	<li><a href="https://pages.github.com/">GitHub Pages</a></li>
    </ul-->

    <!--<ul>
			<li><strong>2018.11.28</strong>看了柏荧老大的教程,驾起了我的blog。</li>		
    </ul>-->
</div>

<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

